*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

li,
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*Heading and paragraph sizes*/
h1 {
  font-size: 60px;
  font-family: "proxima-nova", sans-serif;
  color: white;
}

h2 {
  font-size: 52px;
  text-align: center;
}

h3 {
  font-size: 35px;
  font-family: "proxima-nova", sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-weight: 600;
}

a {
  font-weight: 600;
}

/*Section [Hero]*/
.hero {
  max-width: 100%;
  background-image: url(/assets/img/hero-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 768px;
  position: relative;
}

.hero header {
  text-align: center;
  padding-top: 262px;
}

.hero h1 {
  margin-bottom: 31px;
}

.hero p {
  color: white;
}

.hero p:nth-of-type(2) {
  margin-bottom: 33px;
}

/*Section [Navigation]*/
nav {
  height: 48px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  display: flex;
  padding: 0 143px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  margin-top: 36px;
}

nav ul {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  align-items: center;
}

.logo {
  font-family: "proxima-nova", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.nav-links a {
  font-size: 16px;
  color: white;
}

.nav-links a:not(.btn-contact):hover {
  color: black;
  transition: all 250ms ease-in-out;
}

nav i {
  font-size: 35px;
}

.burgerMenuOpen,
.burgerMenuClose {
  display: none;
  color: white;
}

.btn-contact {
  display: inline-block;
  padding: 13px 42px;
  font-size: 16px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #24292e;
  cursor: pointer;
  border: 2px solid #24292e;
}

.btn-contact:hover {
  background-color: white;
  transition: all 250ms ease-in-out;
  color: black;
}

nav ul li:nth-of-type(5) {
  margin-left: 306px;
}

nav ul li:nth-of-type(1) {
  margin-left: 213px;
}

.nav-links a {
  display: inline-block;
  position: relative;
}

.nav-links a:not(.btn-contact)::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  display: block;
  margin-top: 8px;
  background-color: white;
  transition: all 250ms ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

/*Responsive burgermenu*/
@media screen and (max-width: 1122px) {
  nav {
    padding: 0;
  }

  .logo {
    margin-right: auto;
    margin-left: 30px;
  }

  .nav-links {
    position: relative;
    max-width: 100%;
    height: 100px;
    background-color: white;
    align-items: center;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    top: 80px;
    gap: 10px;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: fit-content;
    padding: 20px 0px;
  }

  .nav-links a:not(.btn-contact) {
    color: black;
  }

  nav ul li:nth-of-type(1),
  nav ul li:nth-of-type(5) {
    margin-left: 0;
  }

  .btn-contact {
    color: white;
    background-color: #24292e;
  }

  .btn-contact:hover {
    border: 2px solid black;
  }

  .burgerMenuOpen {
    display: block;
    margin-right: 20px;
  }

  .burgerMenuOpen.active {
    display: none;
  }

  .burgerMenuClose {
    display: none;
    margin-right: 20px;
  }

  .burgerMenuClose.active {
    display: block;
  }
}

/* Section [ChatGPT] */
.chatgpt {
  max-width: 100%;
  background-color: white;
  padding: 0 143px;
}

.chatgpt h2 {
  margin-top: 75px;
  margin-bottom: 69px;
}

.chatgpt-article-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.chatgpt-article-container article {
  flex: 1 1 calc(33.333% - 24px); /* 33,3% er 1/3, hvilket tillader 
  tre article per row sammen med 24px gap lagt til*/
  min-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.chatgpt-article-container img {
  max-width: 100%;
  margin-bottom: 33px;
}

.chatgpt-article-container article h5 {
  color: #1c2126;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 26px;
  text-align: center;
}

.chatgpt-article-container article p {
  color: #737373;
  font-family: "proxima-nova", sans-serif;
  text-align: center;
  line-height: 1.6;
}

.chatgpt-article-container .btn-contact {
  margin-bottom: 80px;
  border: 2px solid #24292e;
  padding: 13px 38px;
}

.chatgpt-article-container article p:nth-of-type(3) {
  margin-bottom: 32px;
}

/*Section [Powerfull features]*/
.powerfull-features {
  max-width: 100%;
  background-color: #f0f0f0;
  padding: 0 143px;
}

.powerfull-features h2 {
  margin-bottom: 27px;
  padding-top: 75px;
}

.powerfull-features p {
  margin-bottom: 85px;
  text-align: center;
}

.grid-gallery-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  padding-bottom: 119px;
}

.grid-gallery-container img:nth-of-type(1) {
  grid-column: span 3;
  grid-row: span 2;
}

.grid-gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.smallImg {
  border: 3px solid transparent;
}

.smallImg:hover,
.smallImg.active {
  border: 3px solid red;
}

/*Section [Apply now]*/
.apply-now {
  max-width: 100%;
  min-height: 774px;
  background: url(/assets/img/form-background-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.apply-now h3 {
  text-align: center;
  color: white;
  line-height: 1.2;
}

.apply-now h3:nth-of-type(1) {
  padding-top: 75px;
}

.apply-now h3:nth-of-type(2) {
  margin-bottom: 26px;
}

.apply-now p {
  color: white;
  text-align: center;
  line-height: 1.6;
}

.apply-now p:nth-of-type(2) {
  margin-bottom: 60px;
}

.form {
  max-width: 100%;
  padding: 0 143px;
  display: flex;
  justify-content: center;
  gap: 55px;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form img {
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.344);
}

.formContainer input,
.formContainer button {
  width: 100%;
  padding: 13px 16px;
  border-radius: 15px;
  border: none;
}

.formContainer textarea {
  padding: 17px 15px 135px 0;
  border-radius: 15px;
  border: none;
}

.formContainer input,
.formContainer textarea {
  font-size: 16px;
  font-weight: 600;
  color: #1c2126;
  font-family: "Noto Sans", sans-serif;
  padding-left: 15px;
}

.formContainer textarea {
  padding-top: 17px;
}

.formContainer button {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: 25px;
}

.formContainer button:hover {
  background-color: white;
  color: black;
  border: none;
}

/*Section [Footer]*/
footer {
  background-color: #eff0f0;
  max-width: 100%;
  display: flex;
  padding: 134px 143px;
  justify-content: space-between;
}

.footer-left-container {
  display: flex;
  flex-direction: column;
}

.footer-left-container h3 {
  margin-bottom: 18px;
}

.footer-left-container p {
  font-family: "proxima-nova", sans-serif;
  color: #a1a1a1;
}

.footer-left-container p:nth-of-type(4) {
  margin-bottom: 61px;
}

.footer-left-container figure {
  display: flex;
  gap: 16px;
}

.footer-left-container figure i {
  height: 48px;
  width: 48px;
  font-size: 16px;
  border-radius: 100%;
  background-color: white;
  color: black;
  text-align: center;
  align-content: center;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.344);
}

.footer-left-container figure i:hover {
  background-color: black;
  color: white;
  transition: all 250ms ease-in-out;
}

.resources h4 {
  margin-bottom: 38px;
  font-weight: 600;
  font-family: "proxima-nova", sans-serif;
}

.resources ul li {
  margin-bottom: 24px;
}

.resources ul li a {
  font-size: 18px;
  color: #1c2126;
}

.resources ul li a:hover {
  text-decoration: underline;
  transition: all 250ms ease-in-out;
}

/*Responsive*/
@media screen and (max-width: 800px) {
  footer {
    padding: 61px 143px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left-container figure {
    margin-bottom: 61px;
  }

  /*Section [Apply now]*/
  .form {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .apply-now h3:nth-of-type(1) {
    padding-top: 30px;
  }
}

/*Tablet version (768px*/
@media screen and (max-width: 768px) {
  /*Heading and paragraph sizes*/
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  /*Section [ChatGPT]*/
  .chatgpt-article-container article {
    flex: 1 1 100%; /* For dem til at stå i 1 per række */
  }

  /*Section [Powerfull features]*/
  .powerfull-features h2 {
    margin-bottom: 20px;
    padding-top: 61px;
  }

  .powerfull-features p {
    margin-bottom: 50px;
  }

  .grid-gallery-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    padding-bottom: 100px;
  }

  .grid-gallery-container img:nth-of-type(1) {
    grid-column: span 2;
    grid-row: span 2;
  }

  /*Footer*/
  .resources ul li a {
    font-size: 16px;
  }
}

/*Mobile version (700px*/
@media screen and (max-width: 700px) {
  /*Heading and paragraph sizes*/
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 18px;
  }

  h5,
  p {
    font-size: 12px;
  }

  /*Section [Naigation]*/
  .btn-contact {
    padding: 8px 35px;
    font-size: 1.4rem;
  }

  .logo {
    font-size: 25px;
  }

  .nav-links a {
    font-size: 14px;
  }

  nav i {
    font-size: 30px;
  }

  /*Section [Powerfull features]*/
  .powerfull-features h2 {
    margin-bottom: 15px;
    padding-top: 50px;
  }

  .powerfull-features p {
    margin-bottom: 40px;
  }

  .grid-gallery-container {
    padding-bottom: 80px;
  }

  /*Section [Apply now]*/
  .form input,
  .form textarea {
    font-size: 14px;
  }

  .form button {
    font-size: 14px;
  }

  /*Footer*/
  footer {
    padding: 30px 143px;
  }

  .footer-left-container figure {
    margin-bottom: 30px;
  }

  .resources ul li a {
    font-size: 14px;
  }

  .footer-left-container figure i {
    height: 40px;
    width: 40px;
    font-size: 14px;
  }
}
